<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Greetings</h1>
        {{#each cartById}}
            <h3>CartId = {{_id}}</h3>
            {{#each products}}  
            {{!-- {{#each cartById}}   --}}
                <div>Product ID = {{_id}}
                    <br>
                    Amount in Cart = {{quantity}}
                    <br> 
                    {{!-- <a href="">Introducir a carrito</a>
                    <br> --}}
                </div>
            {{/each}}
            {{!-- {{/each}} --}}
        {{/each}}
    </div>
</body>
</html>