{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> --}}
    <div>
        <h1>Login Page</h1>
    </div>
    {{!-- {{#if isAuthenticated}}
    <div>
            <h2>ERROR in Email And Password, try again.</h2>
    </div>
    {{else}} --}}
    <div>
        <form method="post" action="/api/sessions/login">
            <input type="text" placeholder="email" name="email">
            <br/>
            <input type="password" placeholder="password" name="password">
            <button type="submit">Login</button>
        </form>
    </div>
    {{!-- {{/if}} --}}
    {{!-- <script src="/js/productToCart.js"></script> --}}
{{!-- </body>
</html> --}}